*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 1.2em;
	background-color: #ffffff;
	color:rgb(83, 83, 83);
}
p{
	padding: 0 0 20px 0;
	line-height: 1.7em;
}

input[type="text"], input[type="password"], input[type="search"] {
	color: #5d5d5d;
	width: 60%;
padding: 8px;
}
h1, h2 {
	font:normal 170% 'centry gothic', arial;
	margin:0 0 15px 0;
	padding: 15px 0 5px 0;
	color: #072ead;
}
h2{
	font-size:140%;
}
input, textarea {
	outline: none;
	border: none;
	border: solid 1px #f2f2f2;
}
a,a:hover{
	outline: none ;
	text-decoration: underline;
	color: rgb(3, 240, 149);
}
ul{
	margin:2px 0 22px 17px;
}
ul li{
	margin: 0 0 6px 0;
	padding: 0 0 4px 5px;
	line-height: 1.5em;
}

.header{
	background-color: rgb(58, 37, 190);
	height: 153px;
	font-size: 0.8em;
	margin-left: 0px;
	margin-right: 0px;
	min-width: 900px;
}

.main, .logo, .menubar, .site_content, .footer {
	margin-left:auto; 
	margin-right:auto;
}
.logo {
	width:880px;
	padding-bottom:40px;
}
.logo h1, .logo h2 {
	font: normal 300% 'century gothic',arial,sans-serif;
	margin:0 0 0 9px;
}
.logo_text h1, .logo_text h1 a, .logo_text h1 a:hover{
padding:22px 0 0 0;
color: #ffffff;
letter-spacing: 0.1em;
text-decoration: none;
}
.logo_text h2 {
	font-size:0.9em;
padding:4px 0 0 0;
color: #9cdf00;
}
.menubar {
	width: 1920px;
	height: 46px;
	background-color: rgb(58, 37, 190);
}
ul.menu {
	float:right;
}
ul.menu li  {
	float: left;
	padding:0 0 0 0px;
	list-style: none;
	margin:1px 2px 0 00px;
	
}
ul.menu li a {
	font:normal 100% 'trebuchet ms', sans-serif;
	display: block;
	height: 20px;
	padding:6px 28px 5px 28px;
	color:rgb(255, 255, 255);
	text-decoration: none;

}
ul.menu li.silected a {
	color:#0649af
}
ul.menu li a:hover {
	color: #cfd604;
}
hr{
	border:solid 1px #f3f3f3;
}
.site_content {
	width: 880px;
	overflow: hidden;
	margin: 20px auto 0 auto;
	background-color: rgb(255, 255, 255);
}
.sidebar_contaier{
	float: right;
	width: 224px;
}
.sidebar {
	float:right;
	width: 222px;
	padding: 5%;
	margin: 0 0 16px 0;
	border:solid 4px rgb(58, 37, 190);
	border-radius: 5px;
	background-color: #ffffff;

}     
.btn {
	padding: 8px;
	background-color: white;
	cursor: pointer;
}
.sidebar h2 {
	color: rgb(21, 92, 197)
}
.lables_passreg_text {
	font-size: 0.7em;
	margin-top: 3%;
	margin-left: 2%;
}
.sidebar ul{
 margin:0;
}
.sidebar ul li {
list-style: none;
margin: 0 0 0 0;
}
.sidebar .rating_sidebar {
	float: right;
}
.content {
	text-align: left; 
	width: 520px;
	padding: 0 0 0px;
	margin: 0 0 0 0;
	float:left;
}
.content a {
	text-decoration: none;
}

.films_block{
	margin-bottom: 5%;

}
.films_block img {
 border-radius: 5px;
 border: solid 5px #dad7;
 width: 22%;
}
.posts .posts_content {
	font-size: 0.8em;
}
.info_film_page {
	margin-top: 2%;
	margin-bottom: 4%;
}
.info_film_page .label {
	font-size: 1.2em;
	
}
.info_film_page .value{
	font-size: 1em;
	color: #49945a;
	margin-left: 3%;
}
.descripion_film {
float:left;
padding: 0px 0px 0px 0px;
}

.descripion_film img {
	float:center;
	margin-right: 2%;
	border-radius: 5px;
	border: solid 5px #5d5d5d
}
.reviews {
	margin-bottom: 4%;
	font-size: 0.9em;
}
.reviews .review_name {
background-color: #7268ad;
color: white;
padding: 1%;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
width: 520px;
}
.reviews .review_text {
padding-top: 2%;
padding-bottom: 2%;
padding-left: 2%;
}
.send {
	margin-bottom: 4%;
}
.send input[type="text"], textarea {
	border: solid 1px #072ead;
	margin-bottom: 2%;
}
.send input[type="text"] {
	width: 98%;
}
.send textarea {
	width:624px;
	height:200px;
}
.send input[type="submit"] {
	background-color: #7268ad;
	padding: 3%;
	color: #ffffff;
	border-radius: 5px;
}
table {
  width: 100%;
  border: solid 1px #072ead;
}
td {
	padding: 2%;
	border: solid 1px #49945a
}
td img {
	width: 70px;
	height: 100px;
	vertical-align: middle;
}
.center {
	text-align: center;
}
.reting {
	font-weight: bold;
}
.footer {
	width: 100%;
	height: 100px;
	padding: 28px 0 5px 0 ;
	text-align: center;
	background-color: rgb(58, 37, 190);
	color: #a8aa94;
	margin-left: 0px;
	margin-right: 0px;
	min-width: 900px;
}
.footer a {
	color: aqua;
	text-decoration: none;
}
.foother a:hover {
	color: aquamarine;
	text-decoration: none;
}
.footer p {
	padding: 0 0 10px 0;
}
